<div class="barrel">
	<div class="items-bg" on-drag="doDrag($event)" on-release="doRelease($event)"></div>
	<ng-include class="action" src="'icons/' + icon + '.svg'" ng-click="action()"></ng-include>
	<div class="items" ng-style="barrel" on-drag="doDrag($event)" on-release="doRelease($event)">
		<ng-include src="'icons/' + (iconMap[item.id] || iconMap.default) + '.svg'" ng-repeat="item in items"></ng-include>
	</div>
</div>