<div class="energy-bar">
	<div class="outer-bar">
		<ng-include class="bolts" ng-class="$index < pivot ? 'empty' : 'full'" ng-repeat="n in total track by $index" src="'icons/bolt-fill.svg'"></ng-include>
	</div>
	<div class="info">{{current | number:0}}/{{max | number:0}}</div>
</div>