<div id="scan">
	<div class="qr-button" on-drag="doDrag($event)" on-release="doRelease($event)" ng-style="draggedStyle">
		<ng-include src="'icons/bolt-with-bg.svg'" ng-click="scan($event)"></ng-include>
		<div class="text">Потратить энергии: {{current*energyPercent | number:0}}</div>
	</div>
</div>