#auth {
	.logo-team,.change-team {
		position: absolute;
	}
	.logo-team {
		left: 30px;
		top: 3vw;
		svg {
			max-width: 20vw;
			max-height: 20vh;
			width: 100%;
			height: 100%;
		}
	}
	.change-team {
		right: 4vh;
		width: 12vh;
		top: 4%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		font-size: 3vh;
		svg {
			max-width: 12vw;
			max-height: 12vh;
			width: 100%;
			height: 100%;
		}
	}
	font-size: 20px;
	.editable {
		margin-top: 25vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		form {
			background-color: rgba(256,256,256,0.5);
			display: flex;
			flex-direction: column;
			align-items: center;
			.line {
				text-align: center;
				margin: 1vh;
				span {
					margin: 1vh;
				}
			}
			label {
				font-family: freeSetItalic;
				text-align: left;
				font-size: 3vh;
			}
		}
		input {
			text-align: center;
			border: none;
			font-family: freeSetBold;
			letter-spacing: 2px;
			color: #000;
			margin: 1vh;
			font-size: 3vh;
			&[type=button] {
				letter-spacing: initial;
				padding: 1.5vh;
				height: 8vh;
				&[disabled], &.disabled {
					background-color: black;
				}
			}
		}
	}
}

.bg {
	z-index: -100;
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	.bg-el {
		height: 100%;
		svg {
			height: 100%;
		}
	}
	.bg-right { right: 0; }
	.bg-img-center { width: 100%; }
	.bg-center {
		flex: 1;
		position: relative;
		svg {
			width: 100%;
		}
		div {
			position: absolute;
			top: 42.6vh; // experi
			height: 16vh; // mentally
			font-size: 4vh;
			text-align: center;
			width: 100%;

			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.played {
			top: 33vh;
			height: 7.7vh;
			font-size: 3vh;
			max-width: 24vh;
			background: rgba(255,255,255,0.5);
		}
	}
}

.choose {
	display: flex;
	& > * {
		position: absolute;
		left: calc(50% - 10vh);
		width: 20vh;
	}
	.hot-icon {
		top: 7vh;
	}
	.cold-icon {
		bottom: 14vh;
	}
}