#feedback {
	//margin-left: 30vw;
	width: 100%;
	height: 75vh;
	margin-top: 10vh;

	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		margin-left: 5vw;
	}
	.head {
		margin-left: 20%;
		width: 80%;
		padding: 2vh;
		font-size: 200%;
	}
	.inner {
		flex: 1;
		width: 100%;
		padding: 4vh 4vh 0 4vh;

		display: flex;
		flex-direction: column;
		align-items: center;
		textarea {
			flex: 1;
			width: 100%;
			line-height: 3vh;
			font-size: 3vh;
			font-family: freeSet;
			padding: 2vw;
			resize: none;
		}
		.send {
			width: 20%;
			min-width: 35vw;
			min-height: 3vw;
			margin: 2vh;
			border: none;
			padding: 1vh;
			font-size: 5vw;
			font-family: freeSetBold;
		}
	}
	.comment {
		padding: 1vh;
		margin-right: 20%;
		width: 80%;
		text-align: right;
	}
}