#map-view {
	.findme {
		position: fixed;
		bottom: 1vh;
		right: 1vh;
		width: 16vh;
	}
	overflow: hidden;
	#scan .qr-button {
		width: 150px;
		height: 800px;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		margin: 0 auto;
		svg {
			height: 120px;
			margin: 15px;
			margin-bottom: 7.5px;
		}
		.text {
			text-align: center;
		}
	}
	.mapboxgl-popup-content {
		width: 30vw;
		min-width: 300px;
		padding: 0;
		.mapboxgl-popup-close-button {
			font-size: 6vh;
			line-height: 3vh;
			&:hover {
				background-color: none;
			}
		}
		$font: 2.5vh;
		$padding: 1vh;
		.head {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: left;
			font-size: $font + 1vh;

			height: $font + 1vh + 2 * $padding;
			padding: $padding;
		}
		dl {
			display: flex;
			flex-wrap: wrap;
			font-size: $font;
			dt { flex-basis: 70%; }
			dd { flex-basis: 30%; }
			dt, dd, div {
				padding: $padding;
				text-align: center;
			}
			dt, dd {
				display: flex;
				justify-content: center;
				align-content: center;
				flex-direction: column;
			}
			div {
				font-size: 250%;
				width: 100%;
			}
		}
	}
}
ion-modal-view {
	border-width: 3px;
	border-style: solid;
	$title: 5.5vw;
	$title-padding: 1.5vw;
	& > ion-header-bar.bar {
		height: $title + 2*$title-padding;
		h1.title {
			font-size: $title;
			line-height: $title;
			height: $title + 2*$title-padding;
			padding: $title-padding;
		}
	}
	& > ion-content {
		&.has-header {
			top: $title + 2*$title-padding;
		}
	 	ion-item {
			.title, .description {
				white-space: normal;
			}
			.title {
				font-size: 4vw;
			}
			.description {
				font-size: 3vw;
			}
		}
	}
}
.mapboxgl-ctrl.mapboxgl-ctrl-group {
	border-radius: 0;
	& > button {
		width: 8vh;
		height: 8vh;
		& > div.arrow {
			width: 6vh;
			height: 6vh;
			margin: 1vh;
		}
	}
}