ion-side-menu.menu {
	ion-content {
		& > :first-child {
			display: flex;
		}
		.lift {
			width: 100%;
			margin-left: 16%;
		}
		.list {
			position: static;
			& > * {
				position: relative;
			}
			.active {
				position: absolute;
				height: 100%;
				width: 200%;
				right: 0;
				z-index: 3;
				padding-left: 100%;
				.item-content {
					background-color: inherit;
					overflow: initial;
				}
				&:before {
					position: absolute;
					left: 0;
					height: 100%;
					display: flex;
					justify-content: center;
					flex-direction: column;
				}
			}
			ion-item {
				border: none;
				a {
					background-color: inherit;
					color: #fff;
					font-family: freeSetItalic;
					&.activated {
						background-color: initial;
					}
				}
				&[href="#"] {
					position: absolute;
					bottom: 0;
				}
			}
		}
	}
}

$elements-margin: 1vh;
$energy-bar-padding: 1vh;
$bolt-size: 6vh;

.energy-bar {
	background: black;
	display: flex;
	z-index: 10;
	position: fixed;
	top: $elements-margin;
	width: 100%;
	.info {
		position: absolute;
		font-size: 4vh;
		height: $bolt-size + 2*$energy-bar-padding;
		right: 0;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: $energy-bar-padding;
	}
	.outer-bar {
		display: flex;
		margin-left: $bolt-size*2;
		padding: $energy-bar-padding;
		position: relative;
		.bolts {
			width: $bolt-size;
			height: $bolt-size;
			.empty {
				.outer-bolt { fill-opacity: 0; }
				.full-bolt { fill-opacity: 1; }
			}
			.full {
				.outer-bolt { fill-opacity: 1; }
				.full-bolt { fill-opacity: 0; }
			}
		}
	}
}

$top-margin: 2*$elements-margin + 2*$energy-bar-padding + $bolt-size;

.button-menu {
	position: fixed;
	color: #fff;
	z-index: 25;
	font-size: $bolt-size + 2*$energy-bar-padding;
	line-height: 0;
	top: $elements-margin;
	min-height: 0;
	padding: 0 10px;
	width: $bolt-size*2;
	border: none;
}

ion-nav-view [name="menuContent"] .pane {
	padding-top: $top-margin;
}

.version {
	position: fixed;
	bottom: 0;
	color: white;
	font-size: 70%;
	margin: 3px;
}