.qlimate-popup .popup {
	border-width: 3px;
	border-style: solid;
	.popup-head {
		padding: 2vh;
		display: flex;
		justify-content: center;
		align-items: center;
		.popup-title {
			font-size: 3vh;
		}
	}
	.popup-buttons button {
		font-family: freeSetBold;
		font-size: 3vh;
		border: none;
	}
}