#preload {
	& > div {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		img {
			max-height: 50%;
			max-width: 50%;
		}
	}
	position: fixed;
	z-index: 1000;

	$dots-count: 8;
	$dot-radius: 2vw;
	$dot-margin: 1vw;
	$dot-background: #aeaab1;
	.animation {
		margin: 4vh;
		.dot {
			display: inline;
			float: left;
			margin: 0 $dot-margin;
			width: 2*$dot-radius;
			height: 2*$dot-radius;
			border-radius: $dot-radius;
			background: $dot-background;
			animation: preloader-animation-keyframes 2s infinite;
		}

		@for $i from 1 through $dots-count {
			.dot#{$i} {
				animation-delay: #{$i/5}s;
			}
		}
	}
	@keyframes preloader-animation-keyframes {
		0%, 13% {
			background: #fab131
		}

		13%, 25% {
			background: #f69831
		}

		25%, 38% {
			background: #f48931
		}

		38%, 50% {
			background: #f27830
		}

		50%, 63% {
			background: #f16f30
		}

		63%, 75% {
			background: #4271ff;
		}

		75%, 88% {
			background: #7ab1f6;
		}

		88%, 100% {
			background: #78C5FA;
		}
	}
}