#profile .wrapper{
	position: relative;
	text-align: center;
	display: inline-flex;
	height: 100%;
	$size: 15vw;
	$margin: $size;
	$padding: $size/8;
	$element: $size + 2*$padding;
	.barrel {
		width: $size;
		margin-left: $margin;
		.items-bg {
			width: $size;
			height: 100vh;
			position: fixed;
			z-index: 0;
			top: 0;
		}
		.use {
			width: 2*$size;
			height: $size;
			padding-right: $size;
			bottom: $size;
			position: absolute;
			left: 0;
		}
		.items {
			svg, img {
				padding: $padding;
				width: 100%;
				z-index: 2;
				float: left;
				position: relative;
			}
		}
	}
	.main {
		$main-margin: 10vw;
		width: calc(100vw - #{2*$size});
		display: flex;
		flex-direction: column;
		.head {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: left;
			font-size: 4vh;

			height: 10vh;
			padding: 2vh;
			margin-left: $main-margin*2;
		}
		dl {
			margin-left: $main-margin;
			font-size: 2.5vh;
			padding: 2vh;
			dt { float: left; }
			dd { float: right; }
			dt, dd { height: 4vh; }
		}
		.current-item {
			margin-top: auto;
			position: relative;
			.title,.description {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			.title {
				height: $size;
				font-size: 6vw;
			}
			.description {
				height: $size;
				font-size: 4vw;
			}
			.price {
				position: absolute;
				right: 0;
				bottom: 100%;
				display: flex;
				font-size: 4vw;
				justify-content: center;
				svg {
					height: 4vw;
				}
			}
		}
	}

}