@import 'compass/reset';

@font-face {
	font-family: freeSet;
	src: url(FreeSetDemiC.otf);
}
@font-face {
	font-family: freeSetBold;
	src: url(FreeSetBoldC.otf);
}
@font-face {
	font-family: freeSetItalic;
	src: url(FreeSetC.otf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, select {
	font-family: freeSet;
	text-transform: uppercase;
}

svg {
	height: 100%;
}

@import 'popup';
@import 'preload';
@import 'auth';
@import 'map';
@import 'menu';
@import 'feedback';
@import 'shop';
@import 'tournament';
@import 'profile';
@import 'teams';

#toast-container .toast {
	font-size: 2vh;
	width: 75vw;
}