#shop .wrapper {
	display: inline-flex;
	height: 100%;
	width: 100%;
	position: relative;
	text-align: center;
	$size: 20vw;
	$margin: $size;
	$padding: $size/10;
	$element: $size + 2*$padding;
	.current-item {
		flex: 3;
		margin-top: $size;
		position: relative;
		.title,.description {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.title {
			height: $size;
			font-size: 6vw;
		}
		.description {
			height: $size*2;
			font-size: 4vw;
		}
		.price {
			position: absolute;
			right: 0;
			bottom: 100%;
			display: flex;
			font-size: 4vw;
			justify-content: center;
			svg {
				height: 4vw;
			}
		}
	}
	.barrel {
		width: $size;
		margin-right: $margin;
		.items-bg {
			width: $size;
			height: calc(100vh + #{$element});
			top: -$element/2;
			position: fixed;
			z-index: 0;
		}
		.buy {
			width: 2*$size;
			height: $size;
			padding-left: $size;
			top: $size;
			position: absolute;
			right: 0;
		}
		.items {
			//transition: 0.5s all ease-in;
			svg, img {
				padding: $padding;
				width: 100%;
				z-index: 2;
				float: left;
				position: relative;
			}
		}
	}
}