$hot-ultradeep: #7A0608;
$hot-deep: #C80000;
$hot-middle: #FF961E;
$hot-regular: #FFFF64;
$hot-light: #FFF;

$cold-ultradeep: #293276;
$cold-deep: #293A81;
$cold-middle: #5087CE;
$cold-regular: #9CDDDD;
$cold-light: #FFF;

$cold-ultradeep: #333;
$neutral-deep: #555;
$neutral-middle: #AAA;
$neutral-regular: #EEE;
$neutral-light: #FFF;

@mixin fraction($light, $regular, $middle, $deep) {
	.mapboxgl-ctrl.mapboxgl-ctrl-group {
		background: $middle;
	}
	.button:hover {
		color: $light;
	}
	.qlimate-popup .popup {
		border-color: $deep;
		.popup-head {
			background: $deep;
			.popup-title {
				color: $light;
			}
		}
		.popup-buttons button {
			background: $middle;
			color: $light;
		}
	}
	#auth & {
		.line input {
			background-color: $regular;
		}
		input {
			background-color: $regular;
			&[type=button] {
				background-color: $deep;
				color: #fff;
			}
		}
	}
	#map-view {
		#scan {
			.qr-button {
				background: $regular;
			}
		}
		.mapboxgl-popup-anchor-top, .mapboxgl-popup-anchor-top-left, .mapboxgl-popup-anchor-top-right { .mapboxgl-popup-tip { border-bottom-color: $deep; }}
		.mapboxgl-popup-anchor-bottom, .mapboxgl-popup-anchor-bottom-left, .mapboxgl-popup-anchor-bottom-right { .mapboxgl-popup-tip { border-top-color: $deep; }}
		.mapboxgl-popup-anchor-left { .mapboxgl-popup-tip { border-right-color: $deep; }}
		.mapboxgl-popup-anchor-right { .mapboxgl-popup-tip { border-left-color: $deep; }}
		.mapboxgl-popup-content {
			border: 3px $deep solid;
			.mapboxgl-popup-close-button {
				color: $light;
			}
			.head {
				color: $light;
				background: $deep;
			}
			dl {
				dt, dd {
					&:nth-of-type(odd) {
						background: $light;
					}
					&:nth-of-type(even) {
						background: $regular;
					}
				}
			}
		}
	}
	ion-side-menu {
		background-color: $deep;
		ion-content {
			.list {
				.item {
					background-color: $deep;
				}
				.active {
					background-color: $middle;
				}
			}
		}
	}
	.modal {
		border-color: $deep;
		.bar-cold {
			background-color: $regular;
			border-color: $regular;
			background-image: $regular;
		}
	}
	.energy-bar {
		.outer-bar {
			.outer-bolt { fill: $regular; }
			.full-bolt { fill: $middle; }
		}
	}
	#shop, #profile {
		.barrel {
			.items-bg { background: $regular; }
			.buy, .use { background: $deep; }
		}
		.current-item {
			.title {
				background: $deep;
				color: $light;
			}
			.description { background: $regular; }
			.bolt { fill: $middle; }
		}
	}
	#profile {
		.main {
			.head { background: $deep; color: $light; }
			dl { background: $middle; }
		}
		.barrel .use {
			.middle { fill: $deep; }
			.deep { fill: $regular; }
		}
	}
	#tournament {
		.head {
			background: $deep;
			color: $light;
		}
		.column { background: $middle; }
		.ribbon {
			background: $regular;
			.icon { background: $middle; }
		}
	}
	#feedback {
		.head, .comment {
			background: $deep;
			color: $light;
		}
		.inner {
			background: $middle;
			textarea {
				background: $deep;
				color: $light;
			}
			button {
				background: $regular;
			}
		}
	}
	svg {
		.regular { fill: $regular; }
		.middle { fill: $middle; }
		.light { fill: $light; }
		.deep { fill: $deep; }
		.black { fill: #000; }
	}
	svg & {
		.regular { fill: $regular !important; }
		.middle { fill: $middle !important; }
		.light { fill: $light !important; }
		.deep { fill: $deep !important; }
		.black { fill: #000 !important; }
	}
}

.neutral {
	@include fraction($neutral-light, $neutral-regular, $neutral-middle, $neutral-deep);
	#map {
		background: url('../img/fire-bg.png');
	}
	ion-side-menu ion-content {
		.lift {
			background: url('../img/rounds-hot.svg');
		}
		.list .active:before {
			content: url('../img/firelings.svg');
		}
	}
}

.cold {
	@include fraction($cold-light, $cold-regular, $cold-middle, $cold-deep);
	#map {
		background: url('../img/ice-bg.png');
	}
	ion-side-menu ion-content {
		.lift {
			background: url('../img/rounds-cold.svg');
		}
		.list .active:before {
			content: url('../img/icelings.svg');
		}
	}
}

.hot {
	@include fraction($hot-light, $hot-regular, $hot-middle, $hot-deep);
	#map {
		background: url('../img/fire-bg.png');
	}
	ion-side-menu ion-content {
		.lift {
			background: url('../img/rounds-hot.svg');
		}
		.list .active:before {
			content: url('../img/firelings.svg');
		}
	}
}

.hot-icon {
	.cold {
		display: none;
	}
}
.cold-icon {
	.hot {
		display: none;
	}
}