#tournament {
	text-align: center;
	height: 100%;
	position: absolute;
	.head {
		margin: 0 0 7.5vh 30vw;
		width: 70vw;
		height: 7.5vh;
		display: flex;
		align-items: center;
		font-size: 5vh;
		padding-left: 3vh;
		font-family: freeSetBold;
	}
	.column {
		margin-left: 35vw;
		width: 30vw;
		height: 100%;
		position: absolute;
		z-index: -1;
		top: 0;
	}
	.tour {
		height: 25vh;
		.head {
			position: relative;
			margin: 0 33vw 0 0;
			justify-content: flex-end;
			height: 25%;
			padding-right: 3vh;
			font-family: freeSet;
			font-size: 3vh;
		}
		.ribbon {
			display: flex;
			height: 40%;
			margin-left: 17.5vw;
			font-size: 2vh;
			svg {
				width: 40%;
				max-width: 20vh;
			}
			& > * {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.join {
				flex: 7;
				svg {
					width: 60%;
				}
			}
			.icon { flex: 12; }
			.deadline {
				flex: 14;
				strong {
					font-family: freeSetBold;
				}
			}
		}
	}
	.info-block {
		.description {

		}
		.previous {

		}
	}
}