<div id="auth" ng-class="storage.intendedTeam === 1 ? 'hot' : storage.intendedTeam === -1 ? 'cold' : 'neutral'">
	<div class="logo-team" ng-if="storage.intendedTeam.toString() !== '0'" ng-class="storage.intendedTeam === 1 ? 'cold' : 'hot'">
		<ng-include ng-class="(storage.intendedTeam === 1 ? 'cold' : 'hot') + '-icon'" src="'icons/logos-with-bg.svg'"></ng-include>
	</div>
	<div ng-click="changeTeam(-storage.intendedTeam)" class="change-team" ng-if="storage.intendedTeam.toString() !== '0'">
		<div>Изменить команду</div>
		<ng-include ng-class="(storage.intendedTeam === 1 ? 'hot' : 'cold') + '-icon'" src="'icons/logos-with-bg.svg'"></ng-include>
	</div>
	<div class="bg" ng-class="(storage.intendedTeam === 1 ? 'hot' : 'cold') + '-icon'">
		<div class="bg-el bg-left"><ng-include src="'svg/login-left.svg'" class="bg-el"/></ng-include></div>
		<div class="bg-el bg-center"><ng-include src="'svg/login-line.svg'" class="bg-el bg-img-center"/></ng-include></div>
		<div class="bg-el bg-right"><ng-include src="'svg/login-right.svg'" class="bg-el"/></ng-include></div>
	</div>
	<div class="editable" ng-class="storage.intendedTeam === 1 ? 'hot' : storage.intendedTeam === -1 ? 'cold' : 'neutral'">
		<form name="loginForm">
			<div class="line" ng-show="!showPin">
				<label for="phone-input">Введите свой номер телефона<br>для получения SMS-кода:</label>
				<input id="phone-input" type="tel" ng-model="phone" name="phone" placeholder="+7(___)___-__-__" format-phone ng-keypress="$event.keyCode === 13 ? doRequestPin(loginForm.phone.$modelValue) : null"/>
			</div>
			<div class="line" ng-show="showPin">
				<label for="pin-input">Код из SMS-сообщения:</label>
				<input id="pin-input" type="number" ng-model="pin" ng-minlength="4" ng-maxlength="6" name="pin" ng-keypress="$event.keyCode === 13 ? doConfirm(loginForm.phone.$modelValue, loginForm.pin.$modelValue) : null"/><br/>
			</div>
			<div class="line" ng-hide="storage.nickname || storage.intendedTeam === 0 || storage.gotNameByPhone(loginForm.phone.$modelValue)">
				<label for="nickname">Твой логин:</label>
				<input id="nickname" ng-model="nickname" name="name" placeholder="{{generate}}" ng-keypress="$event.keyCode === 13 ? (showPin ? doConfirm(loginForm.phone.$modelValue, loginForm.pin.$modelValue) : doRequestPin(loginForm.phone.$modelValue)) : null"/><br/>
			</div>
		</form>
		<input type="button" ng-show="!showPin" ng-click="doRequestPin(loginForm.phone.$modelValue)" ng-value="loginForm.phone.$error.phone ? 'Введите корректный номер телефона' : 'Отправить SMS-подтверждение'" ng-disabled="loginForm.phone.$error.phone"/>
		<input type="button" ng-show="showPin" ng-click="doConfirm(loginForm.phone.$modelValue, loginForm.pin.$modelValue)" value="Подтвердить" ng-disabled="loginForm.pin.$error.maxlength || loginForm.pin.$error.minlength"/>
	</div>
</div>