<ion-view view-title="Карта" id="map-view">
	<ion-content>
		<div id="map"></div>
	</ion-content>
	<div class="findme" ng-click="findMe()">
		<ng-include src="'icons/target.svg'"></ng-include>
	</div>
	<scan-button></scan-button>
</ion-view>