<ion-side-menus enable-menu-with-back-views="true">

	<ion-side-menu-content>
		<button class="button button-icon ion-navicon button-menu" menu-toggle="left"></button>
		<energy-bar></energy-bar>
		<ion-nav-view name="menuContent">
			<!-- MAIN VIEW CONTENT -->
		</ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-content>
			<div class="lift"></div>
			<ion-list>
				<div ng-repeat="item in list">
					<div menu-close ng-if="currentPage === item.href" class="active item-complex">
						<div class="item-content">{{item.name}}</div>
					</div>
					<ion-item menu-close href="#/menu/{{item.href}}">
						{{item.name}}
					</ion-item>
				</div>
				<ion-item menu-close ng-click="$event.preventDefault();logout()" href="#">
					Выход
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
	<div class="version">v {{version}}</div>
</ion-side-menus>
