<ion-modal-view id="scan-modal">
	<ion-header-bar class="bar bar-header bar-cold">
		<h1 class="title">Сканирование</h1>
		<button class="button" ng-click="modal.hide()">x</button>
	</ion-header-bar>
	<ion-content class="padding">
		<div class="no-results" ng-if="!scanResults || scanResults.length === 0">Скорее всего, сервер не работает. Попробуй позже!</div>
		<ion-list>
			<ion-item ng-repeat="result in scanResults" class="item-thumbnail-left">
				<div class="title">{{result.title}}</div>
				<div class="description">{{result.description}}</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-modal-view>