<div class="bg">
	<div class="bg-el bg-left"><img ng-src="svg/choose-left.svg" class="bg-el"/></div>
	<div class="bg-el bg-center">
		<div class="played" ng-click="setTeam(0)">Я уже играл</div>
		<div>Сделай свой выбор</div>
		<img ng-src="svg/choose-line.svg" class="bg-el bg-img-center"/>
	</div>
	<div class="bg-el bg-right"><img ng-src="svg/choose-right.svg" class="bg-el"/></div>
</div>
<div class="choose">
	<ng-include class="hot-icon" ng-click="setTeam(1)" src="'icons/logos-with-bg.svg'"></ng-include>
	<ng-include class="cold-icon" ng-click="setTeam(-1)" src="'icons/logos-with-bg.svg'"></ng-include>
</div>