<div id="feedback">
	<div class="wrapper">
		<div class="head">Обратная связь</div>
		<div class="inner">
			<textarea ng-model="feedback" placeholder="Оставь свой отзыв об игре"></textarea>
			<button class="send" ng-click="send()">Отправить</button>
		</div>
	</div>
</div>