<div id="auth" class="cold">
	<div class="logo-team">
		<img ng-src="svg/login-change-{{team === 1 ? 'cold' : 'hot'}}.svg"/>
	</div>
	<div ng-click="changeTeam(-team)" class="change-team">
		<div>Изменить команду</div>
		<img ng-src="svg/login-change-{{team === 1 ? 'hot' : 'cold'}}.svg"/>
	</div>
	<div class="bg">
		<div class="bg-el bg-left"><img ng-src="svg/login-left-{{team === 1 ? 'hot' : 'cold'}}.svg" class="bg-el"/></div>
		<div class="bg-el bg-center"><img ng-src="svg/login-line-{{team === 1 ? 'hot' : 'cold'}}.svg" class="bg-el bg-img-center"/></div>
		<div class="bg-el bg-right"><img ng-src="svg/login-right-{{team === 1 ? 'hot' : 'cold'}}.svg" class="bg-el"/></div>
	</div>
	<div class="editable">
		<form name="loginForm">
			<div class="line" ng-show="!showPin">
				<label for="phone-input">Введите свой номер телефона<br>для получения SMS-кода:</label>
				<input id="phone-input" ng-model="phone" name="phone" placeholder="+7(___)___-__-__" format-phone/>
			</div>
			<div class="line" ng-show="showPin">
				<label for="pin-input">Код из SMS-сообщения:</label>
				<input id="pin-input" ng-model="pin" ng-minlength="4" ng-maxlength="6" name="pin"/><br/>
			</div>
			<div class="line" ng-hide="storage.nickname">
				<!--<span>Твой логин:</span>-->
				<label for="nickname">Твой логин:</label>
				<input id="nickname" ng-model="nickname" name="name" placeholder="{{generate}}"/><br/>
			</div>
		</form>
		<input type="button" ng-show="!showPin" ng-click="doRequestPin(loginForm.phone.$modelValue)" ng-value="loginForm.phone.$error.phone ? 'Введите корректный номер телефона' : 'Отправить SMS-подтверждение'" ng-disabled="loginForm.phone.$error.phone"/>
		<input type="button" ng-show="showPin" ng-click="doConfirm({phone: loginForm.phone.$modelValue, code: loginForm.pin.$modelValue})" value="Подтвердить" ng-disabled="loginForm.pin.$error.maxlength || loginForm.pin.$error.minlength"/>
	</div>
</div>