<div id="profile">
	<div class="wrapper">
		<div class="barrel">
			<div class="items-bg" on-drag="doDrag($event)" on-release="doRelease($event)"></div>
			<ng-include class="use" src="'icons/switch.svg'" ng-click="use()"></ng-include>
			<div class="items" ng-style="barrel" on-drag="doDrag($event)" on-release="doRelease($event)">
				<ng-include src="'icons/' + (iconMap[item.id] || iconMap.default) + '.svg'" ng-repeat="item in items" ng-click="move($index)"></ng-include>
			</div>
		</div>
		<div class="main">
			<div class="head">{{name  || 'Профиль'}}</div>
			<dl>
				<dt ng-repeat-start="(char, value) in chars">{{char}}</dt>
				<dd ng-repeat-end>{{value}}</dd>
			</dl>
			<div class="current-item">
				<div class="title">{{items.length > 0 ? items[selectedIndex].name : placeholder}}</div>
				<div class="description">{{items[selectedIndex].description}}</div>
			</div>
		</div>
	</div>
</div>