<div id="shop">
	<div class="wrapper">
		<div class="current-item">
			<div class="price">
				{{items[selectedIndex].price}}
				<ng-include src="'icons/bolt.svg'"></ng-include>
			</div>
			<div class="title">{{items.length > 0 ? items[selectedIndex].name : placeholder}}</div>
			<div class="description">{{items[selectedIndex].description}}</div>
		</div>
		<div class="barrel">
			<div class="items-bg" on-drag="doDrag($event)" on-release="doRelease($event)"></div>
			<ng-include class="buy" src="'icons/plus.svg'" ng-click="buy()"></ng-include>
			<div class="items" ng-style="barrel" on-drag="doDrag($event)" on-release="doRelease($event)">
				<ng-include src="'icons/' + (iconMap[item.id] || iconMap.default) + '.svg'" ng-repeat="item in items" ng-click="move($index)"></ng-include>
			</div>
		</div>
	</div>
</div>