<div id="tournament">
	<div class="head">
		Турниры
	</div>
	<div class="column">

	</div>
	<div class="tour" ng-repeat="tour in tournaments">
		<div class="head">
			{{tour.name}}
		</div>
		<div class="ribbon">
			<div class="join"><ng-include src="tour.signed ? 'icons/minus.svg' : 'icons/plus.svg'"></ng-include></div>
			<div class="icon"><ng-include src="tour.signed ? 'icons/logo-fire.svg' : 'icons/logo-ice.svg'"></ng-include></div>
			<div class="deadline">
				До завершения турнира {{tour.daysLeft}} {{tour.daysLeft === 1 ? 'день' : 'дня'}}.
			</div>
		</div>
	</div>
	<div class="info-block">
		<div class="description">
			{{tournaments[selected].description}}
		</div>
		<div class="previous">
			{{tournaments[selected].previous.toString()}}
		</div>
	</div>
</div>