html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: freeSet;
  src: url(FreeSetDemiC.otf); }
@font-face {
  font-family: freeSetBold;
  src: url(FreeSetBoldC.otf); }
@font-face {
  font-family: freeSetItalic;
  src: url(FreeSetC.otf); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, select {
  font-family: freeSet;
  text-transform: uppercase; }

svg {
  height: 100%; }

.qlimate-popup .popup {
  border-width: 3px;
  border-style: solid; }
  .qlimate-popup .popup .popup-head {
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .qlimate-popup .popup .popup-head .popup-title {
      font-size: 3vh; }
  .qlimate-popup .popup .popup-buttons button {
    font-family: freeSetBold;
    font-size: 3vh;
    border: none; }

#preload {
  position: fixed;
  z-index: 1000; }
  #preload > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%; }
    #preload > div img {
      max-height: 50%;
      max-width: 50%; }
  #preload .animation {
    margin: 4vh; }
    #preload .animation .dot {
      display: inline;
      float: left;
      margin: 0 1vw;
      width: 4vw;
      height: 4vw;
      border-radius: 2vw;
      background: #aeaab1;
      animation: preloader-animation-keyframes 2s infinite; }
    #preload .animation .dot1 {
      animation-delay: 0.2s; }
    #preload .animation .dot2 {
      animation-delay: 0.4s; }
    #preload .animation .dot3 {
      animation-delay: 0.6s; }
    #preload .animation .dot4 {
      animation-delay: 0.8s; }
    #preload .animation .dot5 {
      animation-delay: 1s; }
    #preload .animation .dot6 {
      animation-delay: 1.2s; }
    #preload .animation .dot7 {
      animation-delay: 1.4s; }
    #preload .animation .dot8 {
      animation-delay: 1.6s; }
@keyframes preloader-animation-keyframes {
  0%, 13% {
    background: #fab131; }
  13%, 25% {
    background: #f69831; }
  25%, 38% {
    background: #f48931; }
  38%, 50% {
    background: #f27830; }
  50%, 63% {
    background: #f16f30; }
  63%, 75% {
    background: #4271ff; }
  75%, 88% {
    background: #7ab1f6; }
  88%, 100% {
    background: #78C5FA; } }
#auth {
  font-size: 20px; }
  #auth .logo-team, #auth .change-team {
    position: absolute; }
  #auth .logo-team {
    left: 30px;
    top: 3vw; }
    #auth .logo-team svg {
      max-width: 20vw;
      max-height: 20vh;
      width: 100%;
      height: 100%; }
  #auth .change-team {
    right: 4vh;
    width: 12vh;
    top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 3vh; }
    #auth .change-team svg {
      max-width: 12vw;
      max-height: 12vh;
      width: 100%;
      height: 100%; }
  #auth .editable {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #auth .editable form {
      background-color: rgba(255, 255, 255, 0.5);
      display: flex;
      flex-direction: column;
      align-items: center; }
      #auth .editable form .line {
        text-align: center;
        margin: 1vh; }
        #auth .editable form .line span {
          margin: 1vh; }
      #auth .editable form label {
        font-family: freeSetItalic;
        text-align: left;
        font-size: 3vh; }
    #auth .editable input {
      text-align: center;
      border: none;
      font-family: freeSetBold;
      letter-spacing: 2px;
      color: #000;
      margin: 1vh;
      font-size: 3vh; }
      #auth .editable input[type=button] {
        letter-spacing: initial;
        padding: 1.5vh;
        height: 8vh; }
        #auth .editable input[type=button][disabled], #auth .editable input[type=button].disabled {
          background-color: black; }

.bg {
  z-index: -100;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; }
  .bg .bg-el {
    height: 100%; }
    .bg .bg-el svg {
      height: 100%; }
  .bg .bg-right {
    right: 0; }
  .bg .bg-img-center {
    width: 100%; }
  .bg .bg-center {
    flex: 1;
    position: relative; }
    .bg .bg-center svg {
      width: 100%; }
    .bg .bg-center div {
      position: absolute;
      top: 42.6vh;
      height: 16vh;
      font-size: 4vh;
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .bg .bg-center .played {
      top: 33vh;
      height: 7.7vh;
      font-size: 3vh;
      max-width: 24vh;
      background: rgba(255, 255, 255, 0.5); }

.choose {
  display: flex; }
  .choose > * {
    position: absolute;
    left: calc(50% - 10vh);
    width: 20vh; }
  .choose .hot-icon {
    top: 7vh; }
  .choose .cold-icon {
    bottom: 14vh; }

#map-view {
  overflow: hidden; }
  #map-view .findme {
    position: fixed;
    bottom: 1vh;
    right: 1vh;
    width: 16vh; }
  #map-view #scan .qr-button {
    width: 150px;
    height: 800px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: 0 auto; }
    #map-view #scan .qr-button svg {
      height: 120px;
      margin: 15px;
      margin-bottom: 7.5px; }
    #map-view #scan .qr-button .text {
      text-align: center; }
  #map-view .mapboxgl-popup-content {
    width: 30vw;
    min-width: 300px;
    padding: 0; }
    #map-view .mapboxgl-popup-content .mapboxgl-popup-close-button {
      font-size: 6vh;
      line-height: 3vh; }
      #map-view .mapboxgl-popup-content .mapboxgl-popup-close-button:hover {
        background-color: none; }
    #map-view .mapboxgl-popup-content .head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      font-size: 3.5vh;
      height: 5.5vh;
      padding: 1vh; }
    #map-view .mapboxgl-popup-content dl {
      display: flex;
      flex-wrap: wrap;
      font-size: 2.5vh; }
      #map-view .mapboxgl-popup-content dl dt {
        flex-basis: 70%; }
      #map-view .mapboxgl-popup-content dl dd {
        flex-basis: 30%; }
      #map-view .mapboxgl-popup-content dl dt, #map-view .mapboxgl-popup-content dl dd, #map-view .mapboxgl-popup-content dl div {
        padding: 1vh;
        text-align: center; }
      #map-view .mapboxgl-popup-content dl dt, #map-view .mapboxgl-popup-content dl dd {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column; }
      #map-view .mapboxgl-popup-content dl div {
        font-size: 250%;
        width: 100%; }

ion-modal-view {
  border-width: 3px;
  border-style: solid; }
  ion-modal-view > ion-header-bar.bar {
    height: 8.5vw; }
    ion-modal-view > ion-header-bar.bar h1.title {
      font-size: 5.5vw;
      line-height: 5.5vw;
      height: 8.5vw;
      padding: 1.5vw; }
  ion-modal-view > ion-content.has-header {
    top: 8.5vw; }
  ion-modal-view > ion-content ion-item .title, ion-modal-view > ion-content ion-item .description {
    white-space: normal; }
  ion-modal-view > ion-content ion-item .title {
    font-size: 4vw; }
  ion-modal-view > ion-content ion-item .description {
    font-size: 3vw; }

.mapboxgl-ctrl.mapboxgl-ctrl-group {
  border-radius: 0; }
  .mapboxgl-ctrl.mapboxgl-ctrl-group > button {
    width: 8vh;
    height: 8vh; }
    .mapboxgl-ctrl.mapboxgl-ctrl-group > button > div.arrow {
      width: 6vh;
      height: 6vh;
      margin: 1vh; }

ion-side-menu.menu ion-content > :first-child {
  display: flex; }
ion-side-menu.menu ion-content .lift {
  width: 100%;
  margin-left: 16%; }
ion-side-menu.menu ion-content .list {
  position: static; }
  ion-side-menu.menu ion-content .list > * {
    position: relative; }
  ion-side-menu.menu ion-content .list .active {
    position: absolute;
    height: 100%;
    width: 200%;
    right: 0;
    z-index: 3;
    padding-left: 100%; }
    ion-side-menu.menu ion-content .list .active .item-content {
      background-color: inherit;
      overflow: initial; }
    ion-side-menu.menu ion-content .list .active:before {
      position: absolute;
      left: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column; }
  ion-side-menu.menu ion-content .list ion-item {
    border: none; }
    ion-side-menu.menu ion-content .list ion-item a {
      background-color: inherit;
      color: #fff;
      font-family: freeSetItalic; }
      ion-side-menu.menu ion-content .list ion-item a.activated {
        background-color: initial; }
    ion-side-menu.menu ion-content .list ion-item[href="#"] {
      position: absolute;
      bottom: 0; }

.energy-bar {
  background: black;
  display: flex;
  z-index: 10;
  position: fixed;
  top: 1vh;
  width: 100%; }
  .energy-bar .info {
    position: absolute;
    font-size: 4vh;
    height: 8vh;
    right: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vh; }
  .energy-bar .outer-bar {
    display: flex;
    margin-left: 12vh;
    padding: 1vh;
    position: relative; }
    .energy-bar .outer-bar .bolts {
      width: 6vh;
      height: 6vh; }
      .energy-bar .outer-bar .bolts .empty .outer-bolt {
        fill-opacity: 0; }
      .energy-bar .outer-bar .bolts .empty .full-bolt {
        fill-opacity: 1; }
      .energy-bar .outer-bar .bolts .full .outer-bolt {
        fill-opacity: 1; }
      .energy-bar .outer-bar .bolts .full .full-bolt {
        fill-opacity: 0; }

.button-menu {
  position: fixed;
  color: #fff;
  z-index: 25;
  font-size: 8vh;
  line-height: 0;
  top: 1vh;
  min-height: 0;
  padding: 0 10px;
  width: 12vh;
  border: none; }

ion-nav-view [name="menuContent"] .pane {
  padding-top: 10vh; }

.version {
  position: fixed;
  bottom: 0;
  color: white;
  font-size: 70%;
  margin: 3px; }

#feedback {
  width: 100%;
  height: 75vh;
  margin-top: 10vh; }
  #feedback .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-left: 5vw; }
  #feedback .head {
    margin-left: 20%;
    width: 80%;
    padding: 2vh;
    font-size: 200%; }
  #feedback .inner {
    flex: 1;
    width: 100%;
    padding: 4vh 4vh 0 4vh;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #feedback .inner textarea {
      flex: 1;
      width: 100%;
      line-height: 3vh;
      font-size: 3vh;
      font-family: freeSet;
      padding: 2vw;
      resize: none; }
    #feedback .inner .send {
      width: 20%;
      min-width: 35vw;
      min-height: 3vw;
      margin: 2vh;
      border: none;
      padding: 1vh;
      font-size: 5vw;
      font-family: freeSetBold; }
  #feedback .comment {
    padding: 1vh;
    margin-right: 20%;
    width: 80%;
    text-align: right; }

#shop .wrapper {
  display: inline-flex;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center; }
  #shop .wrapper .current-item {
    flex: 3;
    margin-top: 20vw;
    position: relative; }
    #shop .wrapper .current-item .title, #shop .wrapper .current-item .description {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    #shop .wrapper .current-item .title {
      height: 20vw;
      font-size: 6vw; }
    #shop .wrapper .current-item .description {
      height: 40vw;
      font-size: 4vw; }
    #shop .wrapper .current-item .price {
      position: absolute;
      right: 0;
      bottom: 100%;
      display: flex;
      font-size: 4vw;
      justify-content: center; }
      #shop .wrapper .current-item .price svg {
        height: 4vw; }
  #shop .wrapper .barrel {
    width: 20vw;
    margin-right: 20vw; }
    #shop .wrapper .barrel .items-bg {
      width: 20vw;
      height: calc(100vh + 24vw);
      top: -12vw;
      position: fixed;
      z-index: 0; }
    #shop .wrapper .barrel .buy {
      width: 40vw;
      height: 20vw;
      padding-left: 20vw;
      top: 20vw;
      position: absolute;
      right: 0; }
    #shop .wrapper .barrel .items svg, #shop .wrapper .barrel .items img {
      padding: 2vw;
      width: 100%;
      z-index: 2;
      float: left;
      position: relative; }

#tournament {
  text-align: center;
  height: 100%;
  position: absolute; }
  #tournament .head {
    margin: 0 0 7.5vh 30vw;
    width: 70vw;
    height: 7.5vh;
    display: flex;
    align-items: center;
    font-size: 5vh;
    padding-left: 3vh;
    font-family: freeSetBold; }
  #tournament .column {
    margin-left: 35vw;
    width: 30vw;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0; }
  #tournament .tour {
    height: 25vh; }
    #tournament .tour .head {
      position: relative;
      margin: 0 33vw 0 0;
      justify-content: flex-end;
      height: 25%;
      padding-right: 3vh;
      font-family: freeSet;
      font-size: 3vh; }
    #tournament .tour .ribbon {
      display: flex;
      height: 40%;
      margin-left: 17.5vw;
      font-size: 2vh; }
      #tournament .tour .ribbon svg {
        width: 40%;
        max-width: 20vh; }
      #tournament .tour .ribbon > * {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
      #tournament .tour .ribbon .join {
        flex: 7; }
        #tournament .tour .ribbon .join svg {
          width: 60%; }
      #tournament .tour .ribbon .icon {
        flex: 12; }
      #tournament .tour .ribbon .deadline {
        flex: 14; }
        #tournament .tour .ribbon .deadline strong {
          font-family: freeSetBold; }

#profile .wrapper {
  position: relative;
  text-align: center;
  display: inline-flex;
  height: 100%; }
  #profile .wrapper .barrel {
    width: 15vw;
    margin-left: 15vw; }
    #profile .wrapper .barrel .items-bg {
      width: 15vw;
      height: 100vh;
      position: fixed;
      z-index: 0;
      top: 0; }
    #profile .wrapper .barrel .use {
      width: 30vw;
      height: 15vw;
      padding-right: 15vw;
      bottom: 15vw;
      position: absolute;
      left: 0; }
    #profile .wrapper .barrel .items svg, #profile .wrapper .barrel .items img {
      padding: 1.875vw;
      width: 100%;
      z-index: 2;
      float: left;
      position: relative; }
  #profile .wrapper .main {
    width: calc(100vw - 30vw);
    display: flex;
    flex-direction: column; }
    #profile .wrapper .main .head {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      font-size: 4vh;
      height: 10vh;
      padding: 2vh;
      margin-left: 20vw; }
    #profile .wrapper .main dl {
      margin-left: 10vw;
      font-size: 2.5vh;
      padding: 2vh; }
      #profile .wrapper .main dl dt {
        float: left; }
      #profile .wrapper .main dl dd {
        float: right; }
      #profile .wrapper .main dl dt, #profile .wrapper .main dl dd {
        height: 4vh; }
    #profile .wrapper .main .current-item {
      margin-top: auto;
      position: relative; }
      #profile .wrapper .main .current-item .title, #profile .wrapper .main .current-item .description {
        display: flex;
        flex-direction: column;
        justify-content: center; }
      #profile .wrapper .main .current-item .title {
        height: 15vw;
        font-size: 6vw; }
      #profile .wrapper .main .current-item .description {
        height: 15vw;
        font-size: 4vw; }
      #profile .wrapper .main .current-item .price {
        position: absolute;
        right: 0;
        bottom: 100%;
        display: flex;
        font-size: 4vw;
        justify-content: center; }
        #profile .wrapper .main .current-item .price svg {
          height: 4vw; }

.neutral .mapboxgl-ctrl.mapboxgl-ctrl-group {
  background: #AAA; }
.neutral .button:hover {
  color: #FFF; }
.neutral .qlimate-popup .popup {
  border-color: #555; }
  .neutral .qlimate-popup .popup .popup-head {
    background: #555; }
    .neutral .qlimate-popup .popup .popup-head .popup-title {
      color: #FFF; }
  .neutral .qlimate-popup .popup .popup-buttons button {
    background: #AAA;
    color: #FFF; }
#auth .neutral .line input {
  background-color: #EEE; }
#auth .neutral input {
  background-color: #EEE; }
  #auth .neutral input[type=button] {
    background-color: #555;
    color: #fff; }
.neutral #map-view #scan .qr-button {
  background: #EEE; }
.neutral #map-view .mapboxgl-popup-anchor-top .mapboxgl-popup-tip, .neutral #map-view .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip, .neutral #map-view .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #555; }
.neutral #map-view .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip, .neutral #map-view .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip, .neutral #map-view .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #555; }
.neutral #map-view .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #555; }
.neutral #map-view .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #555; }
.neutral #map-view .mapboxgl-popup-content {
  border: 3px #555 solid; }
  .neutral #map-view .mapboxgl-popup-content .mapboxgl-popup-close-button {
    color: #FFF; }
  .neutral #map-view .mapboxgl-popup-content .head {
    color: #FFF;
    background: #555; }
  .neutral #map-view .mapboxgl-popup-content dl dt:nth-of-type(odd), .neutral #map-view .mapboxgl-popup-content dl dd:nth-of-type(odd) {
    background: #FFF; }
  .neutral #map-view .mapboxgl-popup-content dl dt:nth-of-type(even), .neutral #map-view .mapboxgl-popup-content dl dd:nth-of-type(even) {
    background: #EEE; }
.neutral ion-side-menu {
  background-color: #555; }
  .neutral ion-side-menu ion-content .list .item {
    background-color: #555; }
  .neutral ion-side-menu ion-content .list .active {
    background-color: #AAA; }
.neutral .modal {
  border-color: #555; }
  .neutral .modal .bar-cold {
    background-color: #EEE;
    border-color: #EEE;
    background-image: #EEE; }
.neutral .energy-bar .outer-bar .outer-bolt {
  fill: #EEE; }
.neutral .energy-bar .outer-bar .full-bolt {
  fill: #AAA; }
.neutral #shop .barrel .items-bg, .neutral #profile .barrel .items-bg {
  background: #EEE; }
.neutral #shop .barrel .buy, .neutral #shop .barrel .use, .neutral #profile .barrel .buy, .neutral #profile .barrel .use {
  background: #555; }
.neutral #shop .current-item .title, .neutral #profile .current-item .title {
  background: #555;
  color: #FFF; }
.neutral #shop .current-item .description, .neutral #profile .current-item .description {
  background: #EEE; }
.neutral #shop .current-item .bolt, .neutral #profile .current-item .bolt {
  fill: #AAA; }
.neutral #profile .main .head {
  background: #555;
  color: #FFF; }
.neutral #profile .main dl {
  background: #AAA; }
.neutral #profile .barrel .use .middle {
  fill: #555; }
.neutral #profile .barrel .use .deep {
  fill: #EEE; }
.neutral #tournament .head {
  background: #555;
  color: #FFF; }
.neutral #tournament .column {
  background: #AAA; }
.neutral #tournament .ribbon {
  background: #EEE; }
  .neutral #tournament .ribbon .icon {
    background: #AAA; }
.neutral #feedback .head, .neutral #feedback .comment {
  background: #555;
  color: #FFF; }
.neutral #feedback .inner {
  background: #AAA; }
  .neutral #feedback .inner textarea {
    background: #555;
    color: #FFF; }
  .neutral #feedback .inner button {
    background: #EEE; }
.neutral svg .regular {
  fill: #EEE; }
.neutral svg .middle {
  fill: #AAA; }
.neutral svg .light {
  fill: #FFF; }
.neutral svg .deep {
  fill: #555; }
.neutral svg .black {
  fill: #000; }
svg .neutral .regular {
  fill: #EEE !important; }
svg .neutral .middle {
  fill: #AAA !important; }
svg .neutral .light {
  fill: #FFF !important; }
svg .neutral .deep {
  fill: #555 !important; }
svg .neutral .black {
  fill: #000 !important; }
.neutral #map {
  background: url("../img/fire-bg.png"); }
.neutral ion-side-menu ion-content .lift {
  background: url("../img/rounds-hot.svg"); }
.neutral ion-side-menu ion-content .list .active:before {
  content: url("../img/firelings.svg"); }

.cold .mapboxgl-ctrl.mapboxgl-ctrl-group {
  background: #5087CE; }
.cold .button:hover {
  color: #FFF; }
.cold .qlimate-popup .popup {
  border-color: #293A81; }
  .cold .qlimate-popup .popup .popup-head {
    background: #293A81; }
    .cold .qlimate-popup .popup .popup-head .popup-title {
      color: #FFF; }
  .cold .qlimate-popup .popup .popup-buttons button {
    background: #5087CE;
    color: #FFF; }
#auth .cold .line input {
  background-color: #9CDDDD; }
#auth .cold input {
  background-color: #9CDDDD; }
  #auth .cold input[type=button] {
    background-color: #293A81;
    color: #fff; }
.cold #map-view #scan .qr-button {
  background: #9CDDDD; }
.cold #map-view .mapboxgl-popup-anchor-top .mapboxgl-popup-tip, .cold #map-view .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip, .cold #map-view .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #293A81; }
.cold #map-view .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip, .cold #map-view .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip, .cold #map-view .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #293A81; }
.cold #map-view .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #293A81; }
.cold #map-view .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #293A81; }
.cold #map-view .mapboxgl-popup-content {
  border: 3px #293A81 solid; }
  .cold #map-view .mapboxgl-popup-content .mapboxgl-popup-close-button {
    color: #FFF; }
  .cold #map-view .mapboxgl-popup-content .head {
    color: #FFF;
    background: #293A81; }
  .cold #map-view .mapboxgl-popup-content dl dt:nth-of-type(odd), .cold #map-view .mapboxgl-popup-content dl dd:nth-of-type(odd) {
    background: #FFF; }
  .cold #map-view .mapboxgl-popup-content dl dt:nth-of-type(even), .cold #map-view .mapboxgl-popup-content dl dd:nth-of-type(even) {
    background: #9CDDDD; }
.cold ion-side-menu {
  background-color: #293A81; }
  .cold ion-side-menu ion-content .list .item {
    background-color: #293A81; }
  .cold ion-side-menu ion-content .list .active {
    background-color: #5087CE; }
.cold .modal {
  border-color: #293A81; }
  .cold .modal .bar-cold {
    background-color: #9CDDDD;
    border-color: #9CDDDD;
    background-image: #9CDDDD; }
.cold .energy-bar .outer-bar .outer-bolt {
  fill: #9CDDDD; }
.cold .energy-bar .outer-bar .full-bolt {
  fill: #5087CE; }
.cold #shop .barrel .items-bg, .cold #profile .barrel .items-bg {
  background: #9CDDDD; }
.cold #shop .barrel .buy, .cold #shop .barrel .use, .cold #profile .barrel .buy, .cold #profile .barrel .use {
  background: #293A81; }
.cold #shop .current-item .title, .cold #profile .current-item .title {
  background: #293A81;
  color: #FFF; }
.cold #shop .current-item .description, .cold #profile .current-item .description {
  background: #9CDDDD; }
.cold #shop .current-item .bolt, .cold #profile .current-item .bolt {
  fill: #5087CE; }
.cold #profile .main .head {
  background: #293A81;
  color: #FFF; }
.cold #profile .main dl {
  background: #5087CE; }
.cold #profile .barrel .use .middle {
  fill: #293A81; }
.cold #profile .barrel .use .deep {
  fill: #9CDDDD; }
.cold #tournament .head {
  background: #293A81;
  color: #FFF; }
.cold #tournament .column {
  background: #5087CE; }
.cold #tournament .ribbon {
  background: #9CDDDD; }
  .cold #tournament .ribbon .icon {
    background: #5087CE; }
.cold #feedback .head, .cold #feedback .comment {
  background: #293A81;
  color: #FFF; }
.cold #feedback .inner {
  background: #5087CE; }
  .cold #feedback .inner textarea {
    background: #293A81;
    color: #FFF; }
  .cold #feedback .inner button {
    background: #9CDDDD; }
.cold svg .regular {
  fill: #9CDDDD; }
.cold svg .middle {
  fill: #5087CE; }
.cold svg .light {
  fill: #FFF; }
.cold svg .deep {
  fill: #293A81; }
.cold svg .black {
  fill: #000; }
svg .cold .regular {
  fill: #9CDDDD !important; }
svg .cold .middle {
  fill: #5087CE !important; }
svg .cold .light {
  fill: #FFF !important; }
svg .cold .deep {
  fill: #293A81 !important; }
svg .cold .black {
  fill: #000 !important; }
.cold #map {
  background: url("../img/ice-bg.png"); }
.cold ion-side-menu ion-content .lift {
  background: url("../img/rounds-cold.svg"); }
.cold ion-side-menu ion-content .list .active:before {
  content: url("../img/icelings.svg"); }

.hot .mapboxgl-ctrl.mapboxgl-ctrl-group {
  background: #FF961E; }
.hot .button:hover {
  color: #FFF; }
.hot .qlimate-popup .popup {
  border-color: #C80000; }
  .hot .qlimate-popup .popup .popup-head {
    background: #C80000; }
    .hot .qlimate-popup .popup .popup-head .popup-title {
      color: #FFF; }
  .hot .qlimate-popup .popup .popup-buttons button {
    background: #FF961E;
    color: #FFF; }
#auth .hot .line input {
  background-color: #FFFF64; }
#auth .hot input {
  background-color: #FFFF64; }
  #auth .hot input[type=button] {
    background-color: #C80000;
    color: #fff; }
.hot #map-view #scan .qr-button {
  background: #FFFF64; }
.hot #map-view .mapboxgl-popup-anchor-top .mapboxgl-popup-tip, .hot #map-view .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip, .hot #map-view .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #C80000; }
.hot #map-view .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip, .hot #map-view .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip, .hot #map-view .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #C80000; }
.hot #map-view .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #C80000; }
.hot #map-view .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #C80000; }
.hot #map-view .mapboxgl-popup-content {
  border: 3px #C80000 solid; }
  .hot #map-view .mapboxgl-popup-content .mapboxgl-popup-close-button {
    color: #FFF; }
  .hot #map-view .mapboxgl-popup-content .head {
    color: #FFF;
    background: #C80000; }
  .hot #map-view .mapboxgl-popup-content dl dt:nth-of-type(odd), .hot #map-view .mapboxgl-popup-content dl dd:nth-of-type(odd) {
    background: #FFF; }
  .hot #map-view .mapboxgl-popup-content dl dt:nth-of-type(even), .hot #map-view .mapboxgl-popup-content dl dd:nth-of-type(even) {
    background: #FFFF64; }
.hot ion-side-menu {
  background-color: #C80000; }
  .hot ion-side-menu ion-content .list .item {
    background-color: #C80000; }
  .hot ion-side-menu ion-content .list .active {
    background-color: #FF961E; }
.hot .modal {
  border-color: #C80000; }
  .hot .modal .bar-cold {
    background-color: #FFFF64;
    border-color: #FFFF64;
    background-image: #FFFF64; }
.hot .energy-bar .outer-bar .outer-bolt {
  fill: #FFFF64; }
.hot .energy-bar .outer-bar .full-bolt {
  fill: #FF961E; }
.hot #shop .barrel .items-bg, .hot #profile .barrel .items-bg {
  background: #FFFF64; }
.hot #shop .barrel .buy, .hot #shop .barrel .use, .hot #profile .barrel .buy, .hot #profile .barrel .use {
  background: #C80000; }
.hot #shop .current-item .title, .hot #profile .current-item .title {
  background: #C80000;
  color: #FFF; }
.hot #shop .current-item .description, .hot #profile .current-item .description {
  background: #FFFF64; }
.hot #shop .current-item .bolt, .hot #profile .current-item .bolt {
  fill: #FF961E; }
.hot #profile .main .head {
  background: #C80000;
  color: #FFF; }
.hot #profile .main dl {
  background: #FF961E; }
.hot #profile .barrel .use .middle {
  fill: #C80000; }
.hot #profile .barrel .use .deep {
  fill: #FFFF64; }
.hot #tournament .head {
  background: #C80000;
  color: #FFF; }
.hot #tournament .column {
  background: #FF961E; }
.hot #tournament .ribbon {
  background: #FFFF64; }
  .hot #tournament .ribbon .icon {
    background: #FF961E; }
.hot #feedback .head, .hot #feedback .comment {
  background: #C80000;
  color: #FFF; }
.hot #feedback .inner {
  background: #FF961E; }
  .hot #feedback .inner textarea {
    background: #C80000;
    color: #FFF; }
  .hot #feedback .inner button {
    background: #FFFF64; }
.hot svg .regular {
  fill: #FFFF64; }
.hot svg .middle {
  fill: #FF961E; }
.hot svg .light {
  fill: #FFF; }
.hot svg .deep {
  fill: #C80000; }
.hot svg .black {
  fill: #000; }
svg .hot .regular {
  fill: #FFFF64 !important; }
svg .hot .middle {
  fill: #FF961E !important; }
svg .hot .light {
  fill: #FFF !important; }
svg .hot .deep {
  fill: #C80000 !important; }
svg .hot .black {
  fill: #000 !important; }
.hot #map {
  background: url("../img/fire-bg.png"); }
.hot ion-side-menu ion-content .lift {
  background: url("../img/rounds-hot.svg"); }
.hot ion-side-menu ion-content .list .active:before {
  content: url("../img/firelings.svg"); }

.hot-icon .cold {
  display: none; }

.cold-icon .hot {
  display: none; }

#toast-container .toast {
  font-size: 2vh;
  width: 75vw; }
